# Allow userspace/desktop widget to toggle Acer battery health mode without root elevation
ACTION=="add|change", SUBSYSTEM=="drivers", KERNEL=="acer-wmi-battery", RUN+="/bin/chmod 0666 /sys/bus/wmi/drivers/acer-wmi-battery/health_mode"
